<style type="text/css">
  .css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
  }

  /*input[disabled] {
    background-color: #cccccc;
    color: white;
  }*/
  input.invalid {
    background-color: red;
    color: white
  }
  input.valid {
    background-color: green;
    color: white
  }
  *[required]::before {
    content: "*";
    color: red;
  }
  .error {
    color: red;
  }
</style>
<div>פרופיל ברנר</div>
<div>יש לי פרופיל, אני רוצה להיכנס ולשרוף משהו. <a href="#/login">כניסה למערכת הפרופילים</a></div>
<div ng-controller="ProfileCtrl">
  <!-- current step -->
  <section>
  </section>
  <!-- Personal details -->
  <section ng-show="currentStep === 0">
    <h2>פרטים אישיים</h2>

    <form class="css-form" name="{{forms.details.name}}" novalidate>
      <div>
        <label for="firstName">שם פרטי</label>
        <input type="text" ng-model="user.firstName" name="firstName" required autofocus/>
        <div ng-show="getCurrentForm().$submitted || getCurrentForm().firstName.$touched" class="error">
          <div ng-show="getCurrentForm().firstName.$error.required">אז מה השם?</div>
        </div>
      </div>

      <div>
        <label for="lastName">שם משפחה</label>
        <input type="text" ng-model="user.lastName" name="lastName" required />
        <div ng-show="getCurrentForm().$submitted || getCurrentForm().lastName.$touched" class="error">
          <div ng-show="getCurrentForm().lastName.$error.required">ומה שם משפחה?</div>
        </div>
      </div>

      <div>
        <label for="email">כתובת מייל</label>
        <input type="email" ng-model="user.email" name="email" required />
        <div ng-show="getCurrentForm().$submitted || getCurrentForm().email.$touched" ng-messages="getCurrentForm().email.$error" class="error">
          <div ng-message="required">אנו חייבים את המייל גם</div>
          <div ng-message="email">המייל לא תקין</div>
        </div>
      </div>

      <div>
        <label for="password1">סיסמא</label>
        <input type="password" ng-model="user.password1" name="password1" ng-minlength="8" required />
        <div ng-show="getCurrentForm().$submitted || getCurrentForm().password1.$touched" ng-messages="getCurrentForm().password1.$error" class="error">
          <div ng-message="required">נא להזין סיסמא</div>
          <div ng-message="minlength">מינימום 8 תווים</div>
        </div>
      </div>

      <div>
        <label for="password1">אשר סיסמא</label>
        <input type="password" ng-model="user.password2" name="password2" match-password-with="password1" ng-minlength="8" required/>
        <div ng-show="getCurrentForm().$submitted || getCurrentForm().password2.$touched" ng-messages="getCurrentForm().password2.$error" class="error">
          <div ng-message="required">נא להזין סיסמא גם כאן</div>
          <div ng-message="passwordsMatch">הסיסמאות לא זהות</div>
          <div ng-message="minlength">מינימום 8 תווים</div>
        </div>
      </div>
      <div>רשום את הסיסמא של החשבון החדש פעמיים</div>

      <div>
        <label for="birthday">תאריך לידה</label>
        <input type="date" name="birthday" ng-model="user.birthday" required />
        <div>יצירה של פרופיל ברנר מותרת מגיל 18 ומעלה</div>
      </div>

      <div>
        <label>מין</label>
        <input type="radio" value="male" ng-model="user.gender" required /> זכר
        <input type="radio" value="female" ng-model="user.gender" required /> נקבה
      </div>

      <div>
        <label for="country">אזרחות</label>
        <input ng-model="user.country" name="country" required country-select style="width:200px" />
      </div>

      <div>
        <label for="licenseId">מספר תעודת זהות או דרכון</label>
        <input type="text" ng-model="user.licenseId" name="licenseId" />
      </div>

      <div>
        <label for="phone">טלפון</label>
        <input type="text" ng-model="user.phone" name="phone" />
      </div>

      <strong>כתובת למשלוח דואר</strong>
      <div ng-init="user.postFirstName = user.firstName">
        <label for="postFirstName">שם פרטי</label>
        <input type="text" ng-model="user.postFirstName" name="postFirstName" required autofocus/>
        <div ng-show="getCurrentForm().$submitted || getCurrentForm().postFirstName.$touched"  class="error">
          <div ng-show="getCurrentForm().postFirstName.$error.required">אז מה השם?</div>
        </div>
      </div>

      <div ng-init="user.postLastName = user.lastName">
        <label for="postLastName">שם משפחה</label>
        <input type="text" ng-model="user.postLastName" name="postLastName" required />
        <div ng-show="getCurrentForm().$submitted || getCurrentForm().postLastName.$touched"  class="error">
          <div ng-show="getCurrentForm().postLastName.$error.required">ומה שם משפחה?</div>
        </div>
      </div>

      <div>
        <label for="address">כתובת</label>
        <input type="text" ng-model="user.address" name="address" required />
        <div ng-show="getCurrentForm().$submitted || getCurrentForm().address.$touched"  class="error">
          <div ng-show="getCurrentForm().address.$error.required">נא לציין כתובת</div>
        </div>
      </div>

      <div>
        <label for="postCountry">ארץ</label>
        <input ng-model="user.postCountry" name="postCountry" required country-select style="width:200px" />
      </div>

      <div>
        <label for="city">עיר</label>
        <input type="text" ng-model="user.city" name="city" required />
        <div ng-show="getCurrentForm().$submitted || getCurrentForm().city.$touched"  class="error">
          <div ng-show="getCurrentForm().city.$error.required">נא לציין עיר</div>
        </div>
      </div>

      <div>
        <label for="zip">מיקוד</label>
        <input type="text" ng-model="user.zip" name="zip" />
      </div>

      <div>
        <label for="occupation">עיסוק</label>
        <input type="text" ng-model="user.occupation" name="occupation" />
      </div>

      <div>
        <label for="hobbies">תחביבים</label>
        <input type="text" ng-model="user.hobbies" name="hobbies" />
      </div>
    </form>
  </section>

  <!-- Berner details -->
  <section ng-show="currentStep === 1">
    <h2>רקע ברנרי</h2>
    <form class="css-form" name="{{forms.burner.name}}" novalidate>

      <div>
        <label for="playaName">שם פלאיה שלך (אם יש) </label>
        <input type="text" ng-model="user.playaName" name="playaName" />
      </div>

      <div>
        <label>האם היית באירוע מידברן בעבר?</label>
        <input type="radio" value="true" ng-model="user.visitedMidburn" required /> כן
        <input type="radio" value="false" ng-model="user.visitedMidburn" required /> לא
      </div>

      <div>
        <label>האם היית באירוע Burning Man בעבר?</label>
        <input type="radio" value="true" ng-model="user.visitedBurningman" required /> כן
        <input type="radio" value="false" ng-model="user.visitedBurningman" required /> לא
      </div>
      <div>
        <h5>איך אתם מתכננים להשתתף באירוע?</h5>
        <label for="themeCamp">מחנה נושא</label>
        <input type="checkbox" name="themeCamp" ng-model="user.participationPlans.themeCamp" />
        <br/>
        <label for="musicCamp">מחנה מוזיקה</label>
        <input type="checkbox" name="musicCamp" ng-model="user.participationPlans.musicCamp" />
        <br/>
        <label for="artInstallation">מיצב אמנות</label>
        <input type="checkbox" name="artInstallation" ng-model="user.participationPlans.artInstallation" />
        <br/>
        <label for="volunteering">התנדבות במהלך האירוע</label>
        <input type="checkbox" name="volunteering" ng-model="user.participationPlans.volunteering" />
        <br/>
        <label for="medicalVolunteering">התנדבות במרפאה</label>
        <input type="checkbox" name="medicalVolunteering" ng-model="user.participationPlans.medicalVolunteering" />
        <br/>
        <label for="unknown">לא החלטתי עדיין</label>
        <input type="checkbox" name="unknown" ng-model="user.participationPlans.unknown" />
      </div>
    </form>
  </section>

  <!-- Other details -->
  <section ng-show="currentStep === 2">
    <h2>מידע חשוב</h2>
    <form class="css-form" name="{{forms.skills.name}}" novalidate>

      <div>
        <label>האם יש לך הכשרה רפואית או פרא-רפואית? (חובש/ת, פראמדיק/ית, אח/אחות, רופא/ה</label>
        <input type="radio" value="true" ng-model="user.medicalSkills" required /> כן
        <input type="radio" value="false" ng-model="user.medicalSkills" required /> לא
      </div>

      <div>
        <label>האם יש לך מגבלה הדורשת הנגשה?</label>
        <input type="radio" value="true" ng-model="user.isDisabledPerson" /> כן
        <input type="radio" value="false" ng-model="user.isDisabledPerson" /> לא
      </div>

      <div>
        <input type="checkbox" ng-model="user.policyConfirmed" name="policyConfirmed" required />
        <label for="policyConfirmed">קראתי את עשרת העקרונות</label>
        <div ng-show="getCurrentForm().$submitted">
          <div ng-show="getCurrentForm().policyConfirmed.$error.required">נא לקרוא ולסמן שקראתי</div>
        </div>
      </div>

      <div>
        <input type="checkbox" ng-model="user.fieldGuideConfirmed" name="fieldGuideConfirmed" required />
        <label for="fieldGuideConfirmed">קראתי את מדריך ההישרדות</label>
        <div ng-show="getCurrentForm().$submitted">
          <div ng-show="getCurrentForm().fieldGuideConfirmed.$error.required">נא לקרוא ולסמן שקראתי</div>
        </div>
      </div>

      <div>
        <input type="checkbox" ng-model="user.legalConfirmed" name="legalConfirmed" required />
        <label for="legalConfirmed">קראתי ואני מאשר את תנאי השימוש באתר ומדיניות פרטיות</label>
        <div ng-show="getCurrentForm().$submitted">
          <div ng-show="getCurrentForm().legalConfirmed.$error.required">נא לקרוא ולסמן שקראתי</div>
        </div>
      </div>
    </form>
  </section>

  <!-- Legal -->
  <section ng-show="currentStep === 3">
    <form class="css-form" name="{{forms.terms.name}}" novalidate>

      <div>תקנון ותנאי השתתפות באירוע מידברן 2015 (יש לקרוא את כולו כדי להמשיך)</div>
      <textarea style="width:100%;" rows="40">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborumLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      </textarea>
      <div>
        <input type="checkbox" ng-model="user.termsConfirmed" name="termsConfirmed" required />
        <label for="termsConfirmed">הנני מאשר כי קראתי והבנתי את תנאי התקנון ואני מתחייב לעמוד במלוא תנאיו</label>
        <div ng-show="getCurrentForm().$submitted">
          <div ng-show="getCurrentForm().termsConfirmed.$error.required">נא לקרוא את תנאי התקנון</div>
        </div>
      </div>
    </form>
  </section>

  <!-- navigation -->
  <section>
    <div>
      <input type="button" value="לעמוד הבא" ng-click="nextStep()" ng-show="currentStep < 3" ng-class="{invalid: getCurrentForm().$invalid && getCurrentForm().$submitted, valid: getCurrentForm().$valid  }" ></input>
    </div>
    <div>
      <input type="button" value="יאללה, נרשמנו!" ng-click="register()" ng-show="currentStep === 3" ng-disabled="getCurrentForm().$invalid"></input>
    </div>
    <div>
      <a ng-click="previousStep()" ng-show="currentStep > 0">לעמוד הקודם</a>
    </div>
  </section>
<pre>{{user | json}}</pre>
</div>